
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-orange;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgba($color-orange, .8);
}

body{
    font-size: 1.6rem !important;
    background-color: #f9f9f9 !important;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    font-family: 'DM Sans', sans-serif !important; 
}

a,a:hover{
    text-decoration: none !important;
}

// h1,h2,h3,h4,h5,h6{
//     font-family: 'DM', serif;
// }


p{
    margin-bottom:0 !important;
    color:$color-grey;
}

// p,span{
//     font-family: ' Source Serif', serif;
// }

ul{
    list-style: none;
    padding-left: 0 !important;
}

button{
    border: none;
    cursor: pointer;
    background-color: none;

    &:focus{
        outline: none !important;
    }
}

input{
    &:focus{
        outline: none;
    }
}