.container-onglets{
    color: #000;
    width: 100%;
    height: 15%;
    display: flex;
    z-index: 99;
    border-bottom: 4px solid $color-orange;

    @include respond (tab-port){
        display: block;
    }

    // & ul{
    //     margin: 2rem;
    //     padding-left: 0 !important;
    // }
}

// .container-onglets{
//     color: $color-black;
//     width: 100%;
//     height: 15%;
//     display: block;
//     z-index: 99;

//     // @include respond (tab-port){
//     //     display: block;
//     // }
// }

.onglets  {
    width: 100%;
    // padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s;
    


    & p {
        font-size: 2rem;
        font-weight: bold;
        color: $color-black;
        // text-transform: uppercase;

        @include respond (tab-port){
            font-size: 1.4rem; 
        }
    }

    &:focus {
        outline: none;
    }
}



.contenu {
    width: 100%;
    //opacity: 0;
    // background-color: $color-white;
    padding: 4rem 0;
    display: none;

    & ul{
        margin: 2rem 0;
        padding-left: 0 !important;
    }
}
/* Anim */

.active-onglet {
    background: $color-orange;
    color: white !important;
    transition: all 0.3s ease;
    // box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.65);
    // border-bottom: 3px solid $color-blue;
    z-index: 1;

    // & .title--onglet {
    //     color: white !important;
    // }

    & p{
        color: $color-white;
    }
}

.activeContenu {
    display: block;
    animation: fade 0.5s forwards;

}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


// ******************************************************************
