.navigation{
    box-shadow: $box-shadow;
    background-color: $color-white;

    &--blue{
        background-color: $color-blue;
       & .natop{
           padding: .5rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond (tab-port){
                display: block;
            }
            

            & ul{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                padding-left: 0 !important;

                

                & li{
                    color: $color-white;
                    margin-left: 2rem;
                    font-size: 1rem;

                    @include respond (tab-port){
                        margin-right: 1rem;
                        margin-left: 0;
                    }

                    & a{
                        color: $color-white;
                    }
                }
            }
       }
    }

    &--top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
        // border-bottom: 1px solid $color-grey;

        &__shop{
            display: flex;
            align-items: center;
            
            @include respond (tab-land) {
                position: fixed;
                right: -100%;
                width: 100%;
                z-index: 100000;
                // box-shadow: $box-shadow;
                transition: .3s ease-in-out all;
                background: white;
                padding:0 2rem;
                // left: 0;
            }

            & form{
                padding: 1rem;
                // background-color: $color-grey;
                display: flex;
                align-items: center;
                border-radius: 15px;
                width: 52rem;

                @include respond (tab-land) {
                    width: 100%;
                }

                & input{
                    border: none;
                    width: 85%;
                    background: transparent !important;
                    border-radius: 20px 0 0 20px;
                    border: 1px solid #f2f2f2;
                    padding: 1rem;
                }
    
                & button{
                    width: 15%;
                    padding: 1rem;
                    border: 1px solid $color-orange;
                    background-color: $color-orange;
                    border-radius: 0 20px 20px 0;
                   
                    & i{
                        color: $color-white;
                    }
                }
            }

            & .fa-times-circle{
                display:none;
                margin-left: 1rem;
                cursor: pointer;
                // width: 10%;

                @include respond (tab-land) {
                    display: block;
                }
            }
        }

        &__logo{
            & img{
                height: 5rem;

                @include respond (tab-port) {
                    height: 3rem;
                }

                @include respond (phone) {
                    height: 2.5rem;
                }
            }
        }

        &__items{
            display: flex;
            align-items: center;

          
            &--pf{
                display: flex;
                align-items: end;
                margin-right: 2rem;

                @include respond (phone) { 
                    margin-right: .7rem;  
                }

                // @include respond (phone){
                //     margin-right: 0;
                //     position: fixed;
                //     top: 20rem;
                //     right: 0;
                //     z-index: 111;
                //     background-color: #f2f2f2;
                //     padding: 1.5rem 0rem 1rem 1rem;
                //     display: block;
                //     border-radius:1.5rem 0rem 1rem 1rem ;
                // }

                & .nav--fav{
                //   position: relative;
                  margin-right: 3rem;

                    @include respond (phone){
                        margin-right: 1.5rem;
                    }

                    & .cart--i{
                        position: relative;
                        & i{
                            color: #474747;
                            font-size: 2rem;

                            @include respond (phone){
                                
                                font-size: 1.5rem;
                                
                            }
                        }
                    
                        & span{
                            
                            padding: 0rem;
                            font-size: 1rem;
                            height: 1.5rem;
                            position: absolute;
                            width: 1.5rem;
                            top: -6px;
                            right: -9px;   
                            background-color: $color-orange;
                            border-radius: 50%;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include respond (phone){
                                // height: 1rem;
                                font-size: .8rem;
                                // width: 1rem;
                                // top: 0;
                                // right: -6px;
                            }                                                                               
                        }
                    }  
                }

                & .nav--panier{
                   
                    
                    & a{
                        display: flex;
                        align-items: end;

                        & .cart--i{
                            position: relative;
                            & i{
                                color: #474747;
                                font-size: 2rem;

                                @include respond (phone){
                            
                                    font-size: 1.5rem;
                                    margin-top: 1rem;
                                    
                                }
                            }
                        
                            & span{
                                
                                padding: 0rem;
                                font-size: 1rem;
                                height: 1.5rem;
                                position: absolute;
                                width: 1.5rem;
                                top: -6px;
                                right: -9px;   
                                background-color: $color-orange;
                                border-radius: 50%;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                @include respond (phone){
                                    // height: 1rem;
                                    font-size: .8rem;
                                    // width: 1rem;
                                    top: 0;
                                    // right: -6px;
                                }
                        
                            }
                        }

                        & .cart--flex{
                            margin-left: 1.5rem;

                            @include respond (phone){
                                display: none;
                            }
                            & h5{
                                margin-bottom: 0 !important;
                                color: #474747;

                                @include respond (phone){
                                    font-size: 1rem; 
                                }
                            }

                            & p{
                                font-size: 1.2rem;

                                @include respond (phone){
                                    font-size: .8rem; 
                                }
                            }
                        }

                    }
                      
                     
                  }
            }

            &--btns{
                margin-left: 1rem;

                & button{
                    padding:1rem 1rem !important;
                    font-size: 1.4rem;
                    border-radius: 10px;

                    @include respond (phone) {
                        padding:1rem .5rem !important;
                        font-size: 1.2rem;
                    }
                }
            }

            &--responsive{
                display: none;

                @include respond (tab-land) {
                   display: block;
                }

                & ul{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0 !important;
                }

                & i{
                    margin-left: 1.5rem;
                    font-size: 2rem;
                    cursor: pointer;
                    margin-top: 1rem;
                    color: $color-black;
                    transition: all .3s ease-in-out;

                    @include respond (phone) {
                        font-size: 1.5rem;
                        margin-left: .7rem;
                    }

                    &:hover{
                        color: $color-blue;
                    }
                }
            }
        }
    }

    &--bottom{
        border-top: 1px solid #f2f2f2;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;

        @include respond (tab-land) {
           
            // right: -100%;
            justify-content: center;
           
        }

        // @include respond (phone) {
           
        //     // right: -100%;
        //     justify-content: space-between;
           
        // }

        & .categories{
            @include respond (tab-land) { 
                margin-right: 2rem;  
            }

            // @include respond (phone) { 
            //     margin-right: 0;  
            // }
        }

        & button{
            padding:1rem 1rem !important;
            font-size: 1.4rem;
            border-radius: 10px;

            @include respond (phone) {
                padding:1rem .5rem !important;
                font-size: 1.2rem;

            }
        }

        

        & .navigation--bottom__sortie{
            display: none;

            @include respond (tab-land) {
                display: block;
            }
        }

        & .list--categories{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 2rem 0;
            // justify-content: center;

            // @include respond (tab-land) {
            //     display: block;
            // }

            @include respond (tab-land) {
                height: 100vh;
                position: fixed;
                width: 25rem;
                top: 0;
                right: -100%;
                background: white;
                transition: all .3s ease-in-out;
                padding: 2rem;
                display: block;
                z-index: 111111;
            }

            & li{
                margin-left: 2rem;
                // width: 10rem;

                & i{
                    font-size: 2.5rem;
                    margin-right: .7rem;
                }

                @include respond (tab-land) {
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                }
                
                & a{
                    color: $color-blue;
                    transition: all .3s ease-in-out;
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;

                    &:hover{
                        color: $color-orange;
                    }
                }
            }
        }
    }
}

// .categories{
//     &:hover .cat--box{
//         visibility: visible;
//         opacity: 1;
//     }
// }

.box--big{

    & button{
        &:focus + .cat--box{
            visibility: visible;
            opacity: 1;
        }

        @include respond (tab-land){
            &:focus + .cat--box{
                visibility: visible;
                opacity: 1;
                left: -1rem;
            } 
        }
    }
    
}

.cat--box{
    position: absolute;
    top: 0;
    // bottom: 1rem;
    padding: 2rem 0;
    left: 0;
    min-height: 20vh;
    background-color: $color-white;
    width: 100%;
    z-index: 11111111;
    visibility: hidden;
    opacity: none;
    transition: all .3s ease-in-out;
    
    @include respond (tab-land){
        width: 25rem;
        left:-100%;
        height: 100vh;
        position: fixed;
        padding: 2rem;
        overflow: auto !important;
    }

    & ul{
        & li{
            & a{
                color: $color-blue;

                &:hover{
                    color: $color-orange;
                }
            }
        }
    }
}

// utilisateur
.box-user {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;

    @include respond (phone) {
        // display: none;

        .sub-menu {
            margin-left: -1rem;
        }
    }

    .userIcon {
        height: 4rem;
        width: 4rem;
        // background-color: $color-greendark;
        border-radius: 50rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @include respond (tab-port){
            height: 3.5rem;
            width: 3.5rem;
        }

        @include respond (tab-port){
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    span {
        color: $color-black;
        font-size: 1.6rem;
        padding: 0 1rem;

        @include respond (tab-port){
            font-size: 1.4rem;
        }
    }

    .img-arrow {
        height: 1.5rem;
    }

    // sous menu
    .sub-menu {
        min-height: 5rem;
        width: 22rem;
        background-color: #fbfbfb;
        border-radius: 4px;
        position: absolute;
        top: 5rem;
        right: 0;
        z-index: 111111111111111;
        padding: 1rem 2rem;
        box-shadow:$box-shadow;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        ul {
            display: block;
            // background-color: $color-blue;

            li {
                display: flex;
                align-items: center;
                border-bottom: 1px solid $color-white;
                justify-content: space-between;
                // background-color: $color-blue;

                &:hover {
                    .arrow {
                        transform: scale(.8);
                    }
                }

                &:not(:last-child){
                    margin-bottom: 1rem;
                }

                a {
                    font-size: 2rem;
                    color: $color-blue;
                    // border-bottom: 1px solid $color-white;

                    @include respond (tab-port){
                        font-size: 1.4rem;
                    }
                }

                // .arrow {
                //     height: 1.5rem;
                //     transition: all .3s;
                // }
            }
        }
    }

    &:hover  .sub-menu{
        visibility: visible;
        opacity: 1;
    }
}

.crumbbread{
    padding: 2rem;

    & ol{
        & li{
            & a{
                color: $color-blue;
                transition: all .3s ease-in-out;

                &:hover{
                    color: $color-orange;
                }
            }
        }
    }
}